.logo img{
    max-width: 15%;
    float: flex;
    padding-left: 50px;


}
.titulo h1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#0F2F62;
    padding-top: 50px;
    text-align: center;
    font-size: xx-large;

}

.logo{
    max-width: 40%;
}
.titulo{
    max-width: 60%;
}
section{
    clear: both;
    text-align: center !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: auto;
}

.boton{
    background-color: #0F2F62;
    border: 1px solid #0F2F62;
    padding: 10px;
    color:white;
}
.boton:hover{
    color: #0F2F62;
    border:1px solid #0F2F62;
    background-color: aliceblue;
}
input#peso{
    padding: 10px 0;
    
}
@media(width<=500px){
    header{
        width: 100%;
        
    }
    .logo img{
        max-width: 100%;
        float: none;
        padding-left: 0;
    }
    .logo{
        margin: auto;
    }
    body{
        width: 80%;
        height: auto; 
    }
    .titulo{
        width: 100% !important;
        margin: auto;
    }
    .titulo h1{
        font-size: 2em;
        text-align:center;
        margin:auto;
        padding-top: 0;
        width: 100%;
    }
    .boton,input{
        margin: 5% 0;
    }
    input{
        width: 75%;
    }

    section, .titulo{
        width: 100%;
        padding-top: 2% 0;
        margin: auto;
    }
    
}
