*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1{
    color: blueviolet;
    text-align: center;
}
.contenedor{
    max-width: 60%;
    margin: auto;
}

#imgDni, div{
    text-align: center;   
}
#msnError{ 
    color: blueviolet;
    font-style: italic;
}

@media(max-width:800px) and (min-width:1200px) {
    .contenedor{
        width: 100%;
    }
   
}

