body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: aliceblue;
    color: blue;
    font-size: large;
    text-align: center;
}
header,.botones{
    width: 100%;
    text-align: center;
    margin: auto;
    
   
}
.botones button, .botones a{
    background-color: violet;
    color: whitesmoke;
    padding: 15px;
    box-shadow: 2px 2px grey;
    margin:auto;
}
.botones{
    display: flex;
}



