body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: aliceblue;
    color: blue;
    font-size: large;
}
header,.botones{
    width: 50%;
    text-align: center;
    margin: auto;
    display: flex;
   
}
.botones button, .botones a{
    background-color: violet;
    color: whitesmoke;
    padding: 15px;
    box-shadow: 2px 2px grey;
    margin:auto;
}
